/* Theme button in it's normal state */
button *{
    font: Ubuntu 12;
    color: white;
    padding: 5px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.1);
}

button:hover {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.3);
}

button:active {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5);
}
