Source: ubuntu-kylin-wizard
Section: gnome
Priority: optional
Maintainer: feng-kylin <jianfengli@ubuntukylin.com>
Build-Depends: debhelper (>= 12),
               qtbase5-dev,
Standards-Version: 4.3.0
Homepage: https://github.com/UbuntuKylin/ubuntu-kylin-wizard
Vcs-Git: https://github.com/ubuntukylin/ubuntu-kylin-wizard.git
Vcs-Browser: https://github.com/ubuntukylin/uubuntu-kylin-wizard

Package: ubuntu-kylin-wizard
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Setup wizard for Ubuntu Kylin
 The Ubuntu Kylin wizard provides a friendly guide when user first logs in. It
 shows them some basic information about the launcher, dash, indicators,
 control center, and so on.
