[Desktop Entry]
Name=Ubuntu Kylin Wizard
Exec=ubuntu-kylin-wizard
Terminal=false
Type=Application
StartupNotify=false
Categories=GTK;System;
OnlyShowIn=UKUI;
X-UKUI-Autostart-Delay=10;
