QMainWindow  {
    background-color: white;
}

QWidget#centralWidget {
    padding: 500px;
}

QPushButton#closeButton {
    background-color: white;
    border: none;
}

QTableView {
    border: none;
    selection-background-color: #d7d6d5
}

QTableView::item::selected {
    border: 0px;
}

QTableView::item::focus {
    border: 1px solid red;
}

QTableView::indicator:checked {
    background-color: #d7d6d5
}

QPushButton#installButton {
    background-color: blue;
}
