QTableView {
    padding: 20px;
    selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0.5, y2: 0.5,
                                stop: 0 #FF92BB, stop: 1 white);
}

QTableView::indicator:checked {
    background-color: #d7d6d5
}
